extends ./layouts/common
block content
    h1 Hello #{name}
    a.btn.btn-primary.mr-4(href="/users") User List 
    a.btn.btn-primary.mr-4(href="/auth/login") Login
    a.btn.btn-primary.mr-4(href="/auth/register") Register 
    a.btn.btn-primary.mr-4(href="/product/get") View product