html 
    head
        link(rel="stylesheet", href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css")
        link(rel="stylesheet", href="/css/style.css")
    body
        nav.navbar.navbar-expand-lg.navbar-light.bg-light
            a.navbar-brand(href='#') Navbar
            button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarNavAltMarkup', aria-controls='navbarNavAltMarkup', aria-expanded='false', aria-label='Toggle navigation')
                span.navbar-toggler-icon
            #navbarNavAltMarkup.collapse.navbar-collapse
                .navbar-nav
                a.nav-item.nav-link.active(href='#')
                    | Home 
                    span.sr-only (current)
                a.nav-item.nav-link(href='#') Features
                a.nav-item.nav-link(href='#') Cart #{num}
                a.nav-item.nav-link.disabled(href='#', tabindex='-1', aria-disabled='true') Disabled

        .container
            h1 ProDucts
            .row
                each product in products
                    .col-sm-6.col-md-4.col-lg-3
                        .card.mb-4  
                            img(src="product.image", alt="",class="card-img-top")
                            .card-body
                                h5.card-title=product.name
                                p.card-text=product.description
                                a.btn.btn-primary(href="/cart/add/" + product.id)  Add to the cart
    
    

